In [2]:
import pandas as pd

In [6]:
Path = './data/지역별도서관현황_2017.csv'
Location_lib = pd.read_csv( Path, header=1, encoding='euc-kr', engine='python')
Location_lib.head()

,지역(1),도서관 수(관),총 도서(인쇄) 수(권),총 비도서 수(점),총 연속간행물 수(종),총 전자자료 수(종),1관당 평균 도서(인쇄) 수(권),1관당 비도서 수(점),1관당 연속간행물 수(종),1관당 전자자료 수(종),...,총 연속간행물 수(종).1,총 전자자료 수(종).1,1관당 평균 도서(인쇄) 수(권).1,1관당 비도서 수(점).1,1관당 연속간행물 수(종).1,1관당 전자자료 수(종).1,총 방문자 수(명).1,1관당 방문자 수(명).1,연간 이용자 수(명).1,연간 대출 도서 수(권).1
0,전국,1010,98823835,3821681,138403,14537798,97845,3784,137,14394,...,130189,18740785,100734,6021,125,17985,272068981,261103,191187830,126632457
1,서울,147,12583120,515455,24633,8555650,85599,3506,168,58202,...,25734,9429470,84278,3439,161,58934,64248566,401554,48554365,22662045
2,부산,40,5124311,259239,10545,395112,128108,6481,264,9878,...,10359,362397,136645,6546,259,9060,16494516,412363,11074565,6503370
3,대구,35,3892030,175997,6468,272603,111201,5028,185,7789,...,6270,277495,113209,4624,174,7708,12587143,349643,6446394,6012844
4,인천,47,4017969,184716,5080,195009,85489,3930,108,4149,...,4323,358918,88426,4006,90,7477,14265311,297194,11157932,5132139

In [7]:
print(Location_lib.columns)

Index(['지역(1)', '도서관 수(관)', '총 도서(인쇄) 수(권)', '총 비도서 수(점)', '총 연속간행물 수(종)',
       '총 전자자료 수(종)', '1관당 평균 도서(인쇄) 수(권)', '1관당 비도서 수(점)', '1관당 연속간행물 수(종)',
       '1관당 전자자료 수(종)', '총 방문자 수(명)', '1관당 방문자 수(명)', '연간 이용자 수(명)',
       '연간 대출 도서 수(권)', '도서관 수(관).1', '총 도서(인쇄) 수(권).1', '총 비도서 수(점).1',
       '총 연속간행물 수(종).1', '총 전자자료 수(종).1', '1관당 평균 도서(인쇄) 수(권).1',
       '1관당 비도서 수(점).1', '1관당 연속간행물 수(종).1', '1관당 전자자료 수(종).1', '총 방문자 수(명).1',
       '1관당 방문자 수(명).1', '연간 이용자 수(명).1', '연간 대출 도서 수(권).1'],
      dtype='object')