In [1]:
import numpy as np
import pandas as pd

In [ ]:
book_pro = pd.read_csv('./data/성인이_참여한_독서프로그램_종류_2013.csv', encoding='euc-kr', skiprows=1)
print(book_pro.isnull().sum())
book_pro = pd.read_csv('./data/성인이_참여한_독서프로그램_종류_2015.csv', encoding='euc-kr', skiprows=1)
print(book_pro.isnull().sum())
book_pro = pd.read_csv('./data/성인이_참여한_독서프로그램_종류_2017.csv', encoding='euc-kr', skiprows=1)
print(book_pro.isnull().sum())

# 모두 결측치 없다!!

In [16]:
book_pro = pd.read_csv('./data/성인이_참여한_독서프로그램_종류_2017.csv', encoding='euc-kr', skiprows=1)

In [17]:
book_pro.head(2)

  통계분류(1) 통계분류(2)  사례수  독서캠페인  독후활동  독서행사  독서교육  독서치료  기타 활동
0      전체      소계  317   19.3  29.7  46.7  24.8   7.2    6.9
1      성별      남자  137   15.0  29.4  56.7  21.5   4.5    5.4

In [18]:
dic = {
    "통계분류(1)":"대분류",
    "통계분류(2)":"소분류",
}


book_pro.rename( columns=dic, inplace=True )

In [19]:
book_pro.대분류.unique()

array(['전체', '성별', '연령', '학력', '연간 독서량'], dtype=object)

In [20]:
a =
li = [2017 for i in range(0, book_pro.shape[0])]
book_pro['연도'] = li
book_pro.연도

0     2017
1     2017
2     2017
3     2017
4     2017
5     2017
6     2017
7     2017
8     2017
9     2017
10    2017
11    2017
12    2017
13    2017
14    2017
15    2017
16    2017
Name: 연도, dtype: int64