In [1]:
# 라이브러리 불러오기
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# 시각화 한글처리
import platform

if platform.system() == 'Darwin':    # 맥
    font_name = 'AppleGothic'
elif platform.system() == 'Linux':   # 리눅스
    font_name = 'NanumGothic'
elif platform.system() == 'Windows': # 윈도우
    font_name = 'Malgun Gothic'
else:
    print('알수없는 시스템. 미적용')

plt.rc('font', family=font_name)

In [3]:
df_moo = pd.read_csv('./data/result_df.csv')
df_wheather = pd.read_csv('./data/date_final.csv')

In [4]:
# 데이터 확인
print(df_moo.head())
print(df_moo.dtypes)

         date    평균    평년
0  2015-01-02  1287  1561
1  2015-01-05  1287  1449
2  2015-01-06  1303  1432
3  2015-01-07  1277  1411
4  2015-01-08  1352  1407
date    object
평균       int64
평년       int64
dtype: object

In [5]:
print(df_wheather.head())
print(df_wheather.dtypes)
print(df_wheather.columns)

           날짜 현재일기  현재기온  이슬점온도  체감온도  강수량  습도   풍향    풍속    해면기압
0  2019-12-31    -   2.5  -18.2  -1.9    0  20  서북서  18.7  1031.1
1  2019-12-30    -  13.3    7.5  12.5  1.0  68   북서  10.4  1019.7
2  2019-12-29    -   5.9   -4.0   5.9    0  49  서북서   3.2  1026.4
3  2019-12-28    -   9.1  -10.4   8.3    0  24    남   6.5  1028.1
4  2019-12-27    -   8.1  -12.3   5.4    0  22   북서  16.2  1022.1
날짜       object
현재일기     object
현재기온     object
이슬점온도    object
체감온도     object
강수량      object
습도       object
풍향       object
풍속       object
해면기압     object
dtype: object
Index(['날짜', '현재일기', '현재기온', '이슬점온도', '체감온도', '강수량', '습도', '풍향', '풍속', '해면기압'], dtype='object')

In [6]:
# 컬럼명 변경
df_moo.rename(columns={'date':'날짜'}, inplace=True)
df_moo.columns

Index(['날짜', '평균', '평년'], dtype='object')

In [7]:
# 데이터 타입 변경 : datetime
df_moo['날짜'] = pd.to_datetime(df_moo.날짜)
df_wheather['날짜'] = pd.to_datetime(df_wheather.날짜)
print(df_moo.dtypes)
print(df_wheather.dtypes)

날짜    datetime64[ns]
평균             int64
평년             int64
dtype: object
날짜       datetime64[ns]
현재일기             object
현재기온             object
이슬점온도            object
체감온도             object
강수량              object
습도               object
풍향               object
풍속               object
해면기압             object
dtype: object

In [8]:
# 데이터 타입 변경 : float
df_wheather['현재기온'] = pd.to_numeric(df_wheather['현재기온'], errors='coerce')
df_wheather['이슬점온도'] = pd.to_numeric(df_wheather['이슬점온도'], errors='coerce')
df_wheather['체감온도'] = pd.to_numeric(df_wheather['체감온도'], errors='coerce')
df_wheather['강수량'] = pd.to_numeric(df_wheather['강수량'], errors='coerce')
df_wheather['습도'] = pd.to_numeric(df_wheather['습도'], errors='coerce')
df_wheather['풍속'] = pd.to_numeric(df_wheather['풍속'], errors='coerce')
df_wheather['해면기압'] = pd.to_numeric(df_wheather['해면기압'], errors='coerce')
df_wheather.dtypes

날짜       datetime64[ns]
현재일기             object
현재기온            float64
이슬점온도           float64
체감온도            float64
강수량             float64
습도              float64
풍향               object
풍속              float64
해면기압            float64
dtype: object

In [9]:
# 데이터 타입 확인
df_moo.dtypes

날짜    datetime64[ns]
평균             int64
평년             int64
dtype: object

In [10]:
# 데이터 타입 확인
df_wheather.dtypes

날짜       datetime64[ns]
현재일기             object
현재기온            float64
이슬점온도           float64
체감온도            float64
강수량             float64
습도              float64
풍향               object
풍속              float64
해면기압            float64
dtype: object

In [11]:
# 데이터 프레임 병합
df = pd.merge(df_moo, df_wheather, on='날짜')

In [12]:
# 확인
df.head()

,날짜,평균,평년,현재일기,현재기온,이슬점온도,체감온도,강수량,습도,풍향,풍속,해면기압
0,2015-01-02,1287,1561,-,2.1,-15.4,-2.3,0.0,26.0,북서,17.6,1021.4
1,2015-01-05,1287,1449,-,10.4,-3.3,10.4,0.0,38.0,서북서,2.9,1017.9
2,2015-01-06,1303,1432,-,9.1,-16.2,6.7,11.5,15.0,북서,15.8,1011.3
3,2015-01-07,1277,1411,-,2.5,-28.5,-1.6,0.0,8.0,북서,16.9,1018.0
4,2015-01-08,1352,1407,-,3.3,-19.4,-0.1,0.0,17.0,북서,13.7,1022.8
...,...,...,...,...,...,...,...,...,...,...,...,...
1183,2019-12-24,3073,1618,-,10.9,-0.5,9.2,0.0,45.0,서북서,13.3,1025.4
1184,2019-12-26,3068,1596,-,6.1,0.6,3.0,0.0,68.0,북서,15.8,1012.9
1185,2019-12-27,3022,1582,-,8.1,-12.3,5.4,0.0,22.0,북서,16.2,1022.1
1186,2019-12-30,2987,1480,-,13.3,7.5,12.5,1.0,68.0,북서,10.4,1019.7
1187,2019-12-31,3023,1473,-,2.5,-18.2,-1.9,0.0,20.0,서북서,18.7,1031.1

In [14]:
# CSV 파일로 출력
df.to_csv('./data/join_moo_wheather.csv', encoding='utf-8', index=False)