In [54]:
import os
import pandas as pd

In [55]:
name = 'moo'

In [56]:
# 파일 목록 가져오기
files = os.listdir(f'./data/data_{name}')

df_result = pd.DataFrame(columns=[0, 1, 'year', 'month', 'day'])

In [57]:
files[:1]

['2010-01-01_moo.xlsx']

In [58]:
df_result

Empty DataFrame
Columns: [0, 1, year, month, day]
Index: []

In [59]:
for file in files[:1]:
    # 엑셀 데이터 프레임 만들기
    df = pd.read_excel(f'./data/data_{name}/{file}', nrows=2)

In [60]:
df

,구분,Unnamed: 1,Unnamed: 2,2020-01-04 00:00:00,2020-01-05 00:00:00,2020-01-06 00:00:00,2020-01-07 00:00:00,2020-01-08 00:00:00,2020-01-11 00:00:00,2020-01-12 00:00:00,...,Unnamed: 113,Unnamed: 114,Unnamed: 115,Unnamed: 116,Unnamed: 117,Unnamed: 118,Unnamed: 119,Unnamed: 120,Unnamed: 121,Unnamed: 122
0,평균,NaN,NaN,"1,092","1,129","1,151","1,162","1,112","1,094","1,094",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,평년,NaN,NaN,"1,334","1,314","1,287","1,275","1,255","1,206","1,204",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
    # 뒤집기
    df = df.T
    # 필요없는 데이터 삭제
    df.drop(index=df.iloc[:3].index, inplace=True)
    try:
        df.drop(index=df[df.index.str.contains('Unnamed') == True].index, inplace=True)
    except:
        pass

In [47]:
df[df.index.str.contains('Unnamed') == True]

AttributeError: Can only use .str accessor with string values!

In [39]:
df

                         0      1
2020-01-04 00:00:00  1,092  1,334
2020-01-05 00:00:00  1,129  1,314
2020-01-06 00:00:00  1,151  1,287
2020-01-07 00:00:00  1,162  1,275
2020-01-08 00:00:00  1,112  1,255
...                    ...    ...
Unnamed: 118           NaN    NaN
Unnamed: 119           NaN    NaN
Unnamed: 120           NaN    NaN
Unnamed: 121           NaN    NaN
Unnamed: 122           NaN    NaN

[120 rows x 2 columns]

In [46]:

df.drop(index=df[df.index.str.contains('Unnamed') == True].index, inplace=True)

In [5]:
    # 파일명에서 연도 가져오기
    year = file[:4]
    # 인덱스 리셋하기
    df = df.reset_index()
    # 연,월,일 설정
    df['year'] = year
    df['month'] = df['index'].dt.month
    df['day'] = df['index'].dt.day
    # index 삭제
    del df['index']
    df_result = pd.concat([df_result, df])

NameError: name 'file' is not defined

In [9]:
# 뒤집기
df = df.T
# 필요없는 데이터 삭제
df.drop(index=df.iloc[:3].index, inplace=True)
# 파일명에서 연도 가져오기
year = file[:4]
# 인덱스 리셋하기
df = df.reset_index()

In [10]:
df

                   index      0      1
0    2020-01-04 00:00:00  1,092  1,334
1    2020-01-05 00:00:00  1,129  1,314
2    2020-01-06 00:00:00  1,151  1,287
3    2020-01-07 00:00:00  1,162  1,275
4    2020-01-08 00:00:00  1,112  1,255
..                   ...    ...    ...
115         Unnamed: 118    NaN    NaN
116         Unnamed: 119    NaN    NaN
117         Unnamed: 120    NaN    NaN
118         Unnamed: 121    NaN    NaN
119         Unnamed: 122    NaN    NaN

[120 rows x 3 columns]

In [6]:
# 연,월,일 설정
df['year'] = year
df['month'] = df['index'].dt.month
df['day'] = df['index'].dt.day
# index 삭제
del df['index']
df_result = pd.concat([df_result, df])

AttributeError: Can only use .dt accessor with datetimelike values

In [4]:
# 컬럼명 변경
df_result.rename(columns={0:'평균', 1:'평년'}, inplace=True)

# 날짜 컬럼 만들기
df_result['date'] = pd.to_datetime(df_result[['year','month','day']])

# # 컬럼 순서 조정
df_result = pd.DataFrame(df_result, columns=['date', '평균', '평년'])

# 데이터 타입 변경, 결측치는 0으로 세팅
df_result['평균'] = df_result['평균'].str.replace(',', '').str.replace('-','0').astype(int)
df_result['평년'] = df_result['평년'].str.replace(',', '').str.replace('-','0').astype(int)

# 컬럼명 2차 변경
df_result.rename(columns={'평균':f'avg_{name}', '평년':f'avgY_{name}'}, inplace=True)

# 확인
print(df_result.columns)
print(df_result.head())
print(df_result.shape)
print(df_result.dtypes)

# CSV 파일로 만들기
df_result.to_csv(f'./data/result_{name}.csv', encoding="utf-8", index=False)

In [5]:
to_dataframe('moo')

AttributeError: Can only use .dt accessor with datetimelike values