In [18]:
import pandas as pd

In [19]:
df = pd.read_csv('./data/result_df.csv')

In [20]:
df

            date    평균    평년
0     2019-10-01  1287  1561
1     2019-10-02  1287  1449
2     2019-10-04  1303  1432
3     2019-10-07  1277  1411
4     2019-10-08  1352  1407
...          ...   ...   ...
1183  2019-12-24  3073  1618
1184  2019-12-26  3068  1596
1185  2019-12-27  3022  1582
1186  2019-12-30  2987  1480
1187  2019-12-31  3023  1473

[1188 rows x 3 columns]

In [4]:
df.columns

Index(['0', '1', 'year', 'month', 'day'], dtype='object')

In [22]:
df.dtypes

date    object
평균       int64
평년       int64
dtype: object

In [5]:
df.rename(columns={'0':'평균', '1':'평년'}, inplace=True)

In [6]:
df

         평균     평년  year  month  day
0     1,287  1,561  2015      1    2
1     1,287  1,449  2015      1    5
2     1,303  1,432  2015      1    6
3     1,277  1,411  2015      1    7
4     1,352  1,407  2015      1    8
...     ...    ...   ...    ...  ...
1183  3,073  1,618  2019     12   24
1184  3,068  1,596  2019     12   26
1185  3,022  1,582  2019     12   27
1186  2,987  1,480  2019     12   30
1187  3,023  1,473  2019     12   31

[1188 rows x 5 columns]

In [13]:
df['date'] = pd.to_datetime(df[['year','month','day']])

In [15]:
df = pd.DataFrame(df, columns=['date', '평균', '평년'])

In [16]:
df

           date     평균     평년
0    2015-01-02  1,287  1,561
1    2015-01-05  1,287  1,449
2    2015-01-06  1,303  1,432
3    2015-01-07  1,277  1,411
4    2015-01-08  1,352  1,407
...         ...    ...    ...
1183 2019-12-24  3,073  1,618
1184 2019-12-26  3,068  1,596
1185 2019-12-27  3,022  1,582
1186 2019-12-30  2,987  1,480
1187 2019-12-31  3,023  1,473

[1188 rows x 3 columns]

In [17]:
df.dtypes

date    datetime64[ns]
평균              object
평년              object
dtype: object

In [ ]:
df_2013_2015["column1"] = df_2013_2015["column2"].str.replace(',', '').astype(int)