In [72]:
import pandas as pd
import os

# 폴더명 이름 'data_{name}'
name = 'apple'

# 파일 목록 가져오기
files = os.listdir(f'./data/data_{name}')

df_result = pd.DataFrame(columns=[0, 1, 'year', 'month', 'day'])

In [73]:
print(files)

['2015-01-01_400411.xlsx', '2015-04-01_400411.xlsx', '2015-07-01_400411.xlsx', '2015-10-01_400411.xlsx', '2016-01-01_400411.xlsx', '2016-04-01_400411.xlsx', '2016-07-01_400411.xlsx', '2016-10-01_400411.xlsx', '2017-01-01_400411.xlsx', '2017-04-01_400411.xlsx', '2017-07-01_400411.xlsx', '2017-10-01_400411.xlsx', '2018-01-01_400411.xlsx', '2018-04-01_400411.xlsx', '2018-07-01_400411.xlsx', '2018-10-01_400411.xlsx', '2019-01-01_400411.xlsx', '2019-04-01_400411.xlsx', '2019-07-01_400411.xlsx', '2019-10-01_400411.xlsx']

In [74]:
for file in files:
    # 엑셀 데이터 프레임 만들기
    df = pd.read_excel(f'./data/data_{name}/{file}', nrows=2)
    # 뒤집기
    df = df.T
    # 필요없는 데이터 삭제
    df.drop(index=df.iloc[:3].index, inplace=True)
    # 파일명에서 연도 가져오기
    year = file[:4]
    # 인덱스 리셋하기
    df = df.reset_index()
    # 연,월,일 설정
    df['year'] = year
    df['month'] = df['index'].dt.month
    df['day'] = df['index'].dt.day
    # index 삭제
    del df['index']
    df_result = pd.concat([df_result, df])

In [34]:
df_result

         0       1  year month day
0   21,350  22,826  2015     1   5
1   21,717  22,882  2015     1   6
2   21,944  22,949  2015     1   7
3   21,442  22,809  2015     1   8
4   21,476  22,827  2015     1   9
..     ...     ...   ...   ...  ..
37  18,135  19,021  2019    12  24
38  18,293  19,055  2019    12  26
39  18,293  19,115  2019    12  27
40  18,328  19,290  2019    12  30
41  18,328  19,119  2019    12  31

[1032 rows x 5 columns]

In [35]:
df_result.dtypes

0        object
1        object
year     object
month    object
day      object
dtype: object

In [75]:
# 컬럼명 변경
df_result.rename(columns={0:'평균', 1:'평년'}, inplace=True)

In [37]:
df_result

        평균      평년  year month day
0   21,350  22,826  2015     1   5
1   21,717  22,882  2015     1   6
2   21,944  22,949  2015     1   7
3   21,442  22,809  2015     1   8
4   21,476  22,827  2015     1   9
..     ...     ...   ...   ...  ..
37  18,135  19,021  2019    12  24
38  18,293  19,055  2019    12  26
39  18,293  19,115  2019    12  27
40  18,328  19,290  2019    12  30
41  18,328  19,119  2019    12  31

[1032 rows x 5 columns]

In [6]:
df_result.year = df_result.year.astype(int)
df_result.month = df_result.month.astype(int)
df_result.day = df_result.day.astype(int)
df_result.dtypes

0        object
1        object
year      int32
month     int32
day       int32
dtype: object

In [4]:
# 컬럼 타입 변경
df_result.iloc[:,2:] = df_result.iloc[:,2:].apply(pd.to_numeric)
df_result.dtypes

0        object
1        object
year     object
month    object
day      object
dtype: object

In [22]:
df.year.unique()

array(['2019'], dtype=object)

In [10]:
df_result.day.unique()

array([ 2,  5,  6,  7,  8,  9, 12, 13, 14, 15, 16, 19, 20, 21, 22, 23, 26,
       27, 28, 29, 30,  3,  4, 10, 11, 17, 24, 25, 18, 31,  1],
      dtype=int64)

In [76]:
# 날짜 컬럼 만들기
df_result['date'] = pd.to_datetime(df_result[['year','month','day']])

In [77]:
# # 컬럼 순서 조정
df_result = pd.DataFrame(df_result, columns=['date', '평균', '평년'])

In [78]:
df_result

         date      평균      평년
0  2015-01-05  21,350  22,826
1  2015-01-06  21,717  22,882
2  2015-01-07  21,944  22,949
3  2015-01-08  21,442  22,809
4  2015-01-09  21,476  22,827
..        ...     ...     ...
37 2019-12-24  18,135  19,021
38 2019-12-26  18,293  19,055
39 2019-12-27  18,293  19,115
40 2019-12-30  18,328  19,290
41 2019-12-31  18,328  19,119

[1032 rows x 3 columns]

In [79]:
df_result.dtypes

date    datetime64[ns]
평균              object
평년              object
dtype: object

In [44]:
df_result['평년'].unique()

array(['22,826', '22,882', '22,949', '22,809', '22,827', '23,395',
       '23,518', '23,797', '23,878', '23,902', '24,812', '24,858',
       '25,094', '25,114', '24,987', '24,844', '24,561', '24,634',
       '24,717', '24,735', '24,578', '24,659', '24,537', '24,682',
       '24,534', '24,607', '24,508', '24,442', '24,186', '24,154',
       '23,726', '23,752', '23,779', '23,674', '23,785', '23,671',
       '23,555', '23,497', '23,546', '23,498', '23,585', '23,252',
       '23,492', '23,465', '23,437', '23,576', '23,868', '23,663',
       '23,636', '23,577', '23,081', '22,986', '23,085', '23,156',
       '23,248', '23,544', '23,677', '23,787', '24,098', '24,194',
       '24,190', '23,880', '23,711', '23,302', '23,094', '23,035',
       '23,133', '23,361', '24,684', '24,770', '24,292', '24,199',
       '24,311', '24,126', '24,155', '24,166', '24,351', '24,618',
       '24,687', '24,722', '24,761', '24,848', '24,943', '25,013',
       '25,161', '25,419', '25,607', '25,697', '25,792', '25,738',
       '25,971', '25,983', '25,840', '25,831', '25,887', '25,904',
       '25,947', '25,961', '26,085', '26,004', '26,014', '26,040',
       '25,965', '26,139', '26,170', '26,264', '26,473', '26,483',
       '26,485', '26,445', '26,466', '26,746', '26,785', '26,821',
       '27,102', '27,136', '27,087', '27,299', '27,500', '27,596',
       '27,677', '27,885', '27,915', '27,810', '27,832', '27,883',
       '27,871', '27,940', '28,099', '28,112', '28,143', '27,978',
       '28,081', '28,203', '28,059', '28,234', '28,167', '28,169',
       '28,285', '28,533', '28,522', '28,429', '28,343', '28,214',
       '28,135', '28,579', '28,551', '28,779', '29,223', '29,226',
       '29,218', '29,153', '28,842', '28,848', '29,313', '29,270',
       '29,781', '19,984', '20,097', '21,377', '21,247', '21,084',
       '20,763', '20,583', '20,224', '20,205', '20,365', '20,513',
       '20,906', '21,500', '21,565', '21,758', '21,947', '22,110',
       '21,913', '21,903', '21,870', '21,531', '21,602', '21,718',
       '21,744', '21,800', '21,852', '21,837', '22,001', '21,895',
       '21,738', '21,528', '21,007', '21,001', '21,080', '21,302',
       '21,280', '21,454', '21,899', '22,116', '22,889', '22,979',
       '22,959', '23,278', '23,122', '23,209', '23,388', '23,441',
       '23,703', '23,761', '23,892', '24,294', '24,448', '24,736',
       '24,651', '24,451', '24,505', '24,708', '24,791', '24,883',
       '24,912', '24,839', '24,885', '24,904', '25,180', '25,154',
       '25,255', '25,280', '25,310', '25,067', '25,040', '24,960',
       '24,747', '27,010', '24,706', '24,444', '24,491', '24,440',
       '24,354', '24,404', '24,258', '24,035', '24,096', '24,218',
       '23,991', '23,960', '23,713', '23,582', '23,564', '23,504',
       '23,493', '23,649', '23,722', '23,879', '23,924', '24,297',
       '24,446', '24,356', '24,419', '23,865', '23,732', '23,418',
       '23,402', '24,681', '24,850', '24,930', '24,727', '24,625',
       '24,588', '24,586', '24,648', '24,951', '25,081', '25,341',
       '25,326', '25,325', '25,324', '25,437', '25,695', '25,729',
       '25,731', '25,861', '26,053', '26,197', '26,229', '26,285',
       '26,293', '26,381', '26,390', '26,407', '26,379', '26,378',
       '26,401', '26,409', '26,458', '26,486', '26,567', '26,577',
       '26,597', '26,543', '26,651', '26,600', '26,462', '26,519',
       '26,671', '27,014', '27,273', '27,369', '27,386', '27,501',
       '27,752', '27,799', '27,824', '27,896', '27,970', '28,178',
       '28,154', '28,164', '28,289', '28,438', '28,669', '28,716',
       '28,739', '28,723', '28,725', '28,967', '28,832', '28,827',
       '28,753', '28,886', '28,693', '28,868', '28,862', '28,684',
       '28,653', '28,592', '28,509', '28,425', '28,643', '29,240',
       '29,248', '29,368', '29,205', '29,277', '29,361', '29,278',
       '32,487', '-', '21,745', '21,735', '21,683', '21,652', '20,664',
       '21,316', '21,487', '21,605', '21,312', '20,321', '20,059',
       '19,929', '20,050', '20,237', '21,041', '21,371', '21,213',
       '21,202', '21,215', '21,057', '21,266', '21,254', '21,244',
       '20,801', '20,903', '20,902', '21,047', '21,062', '21,313',
       '21,165', '21,198', '21,228', '21,146', '20,693', '20,138',
       '20,344', '20,401', '20,495', '20,464', '20,517', '20,504',
       '20,666', '21,145', '21,865', '21,932', '21,670', '21,714',
       '21,553', '21,492', '21,862', '22,136', '22,174', '22,132',
       '22,559', '22,678', '22,722', '22,784', '23,282', '23,404',
       '23,500', '23,390', '23,634', '23,619', '23,654', '23,738',
       '23,432', '23,374', '23,322', '23,330', '23,385', '23,594',
       '23,802', '23,727', '23,929', '24,048', '24,017', '23,843',
       '23,807', '24,009', '23,866', '23,434', '23,318', '23,319',
       '23,372', '23,344', '23,376', '23,279', '22,973', '22,922',
       '22,943', '22,908', '22,848', '22,727', '22,703', '22,519',
       '22,485', '22,454', '22,499', '22,615', '22,680', '22,818',
       '22,945', '23,153', '23,244', '23,225', '23,224', '22,608',
       '22,434', '22,331', '22,253', '22,270', '22,728', '23,283',
       '23,682', '23,961', '23,740', '23,803', '23,859', '23,754',
       '24,168', '24,397', '24,457', '24,517', '24,514', '24,513',
       '24,920', '24,952', '25,113', '25,289', '25,412', '25,435',
       '25,421', '25,436', '25,416', '25,432', '25,518', '25,482',
       '25,207', '25,206', '25,059', '24,822', '24,845', '25,149',
       '25,167', '24,971', '24,962', '25,355', '25,212', '25,329',
       '25,168', '25,251', '25,393', '25,405', '25,678', '25,890',
       '26,554', '26,682', '26,712', '26,828', '26,869', '26,839',
       '26,840', '26,915', '27,167', '27,205', '27,254', '27,274',
       '27,316', '27,334', '27,485', '27,602', '27,599', '27,488',
       '27,076', '27,084', '27,071', '27,080', '27,161', '26,906',
       '27,453', '27,447', '27,515', '27,452', '27,613', '27,647',
       '27,641', '27,486', '27,800', '27,841', '27,732', '27,812',
       '27,637', '28,933', '29,111', '19,027', '19,076', '19,313',
       '19,226', '20,091', '19,911', '20,013', '18,944', '18,633',
       '18,344', '18,202', '18,225', '18,510', '18,673', '19,016',
       '19,098', '19,146', '19,229', '19,227', '19,536', '19,503',
       '18,965', '19,054', '19,028', '19,038', '19,059', '19,162',
       '19,321', '19,387', '19,438', '19,036', '18,959', '18,804',
       '18,715', '18,689', '18,837', '18,900', '19,025', '19,453',
       '19,528', '19,839', '19,862', '19,832', '19,943', '20,417',
       '20,604', '20,713', '20,799', '21,119', '21,251', '21,375',
       '21,760', '21,945', '22,141', '22,193', '22,532', '22,587',
       '22,614', '22,576', '22,489', '22,152', '22,010', '21,993',
       '21,894', '22,005', '22,121', '22,011', '21,978', '22,138',
       '21,584', '21,576', '21,510', '21,568', '21,042', '21,148',
       '21,072', '21,040', '20,657', '20,720', '20,741', '20,752',
       '20,715', '20,600', '20,556', '20,588', '20,497', '20,487',
       '20,533', '20,561', '20,684', '20,722', '20,810', '20,714',
       '20,692', '20,766', '20,825', '20,545', '20,461', '20,506',
       '20,500', '20,616', '20,696', '20,957', '21,156', '21,190',
       '21,139', '21,259', '21,337', '21,346', '21,524', '21,637',
       '21,699', '21,669', '21,820', '21,831', '21,859', '21,911',
       '22,098', '22,380', '22,383', '22,571', '22,782', '22,790',
       '22,760', '22,287', '22,199', '22,512', '22,561', '22,641',
       '22,345', '23,370', '23,855', '23,874', '23,533', '23,539',
       '23,651', '23,669', '23,530', '23,614', '24,339', '24,188',
       '23,940', '24,013', '24,082', '24,251', '24,262', '24,750',
       '24,764', '25,350', '25,469', '25,428', '25,475', '25,509',
       '25,481', '25,490', '25,360', '25,380', '25,609', '25,523',
       '25,554', '25,545', '25,640', '25,757', '25,817', '25,122',
       '25,124', '25,126', '25,163', '24,993', '24,773', '24,840',
       '25,292', '25,313', '25,320', '25,646', '25,828', '25,711',
       '25,698', '25,793', '25,823', '25,982', '26,322', '24,624',
       '23,993', '23,403', '26,480', '26,222', '19,527', '18,751',
       '18,362', '18,545', '18,903', '18,942', '19,037', '19,272',
       '19,079', '19,243', '19,139', '18,666', '18,672', '18,308',
       '18,266', '18,135', '18,153', '18,343', '18,330', '18,653',
       '18,730', '18,856', '18,871', '18,881', '19,305', '19,317',
       '18,872', '18,832', '18,918', '18,816', '18,794', '18,824',
       '18,963', '19,078', '18,992', '18,877', '18,827', '18,728',
       '18,628', '18,678', '18,802', '18,867', '19,329', '19,384',
       '19,635', '19,605', '19,559', '19,581', '19,994', '20,394',
       '20,353', '20,511', '20,853', '20,908', '20,966', '21,019',
       '21,162', '21,264', '21,608', '21,653', '21,707', '21,843',
       '21,782', '21,253', '21,271', '21,444', '21,638', '21,617',
       '21,828', '21,853', '21,881', '21,931', '21,695', '21,643',
       '21,579', '21,373', '21,220', '21,369', '21,409', '20,921',
       '20,879', '20,760', '20,841', '20,790', '20,526', '20,418',
       '20,342', '20,424', '20,441', '20,273', '20,398', '20,411',
       '20,465', '20,626', '20,568', '20,478', '20,430', '20,358',
       '20,025', '20,006', '19,979', '19,875', '19,571', '19,568',
       '19,486', '19,545', '19,656', '19,818', '19,846', '19,887',
       '20,070', '19,945', '19,924', '19,974', '20,029', '20,035',
       '20,062', '20,102', '20,160', '20,179', '20,193', '20,196',
       '20,452', '20,547', '20,325', '20,315', '20,329', '20,341',
       '20,304', '20,332', '20,356', '20,385', '19,978', '20,136',
       '20,481', '20,552', '20,454', '20,336', '20,352', '20,633',
       '20,488', '20,283', '20,313', '20,361', '20,952', '20,928',
       '20,880', '20,855', '21,327', '21,328', '21,481', '21,488',
       '21,392', '21,278', '21,339', '21,357', '21,724', '21,848',
       '21,887', '21,972', '21,994', '21,962', '21,591', '21,607',
       '21,587', '21,672', '21,719', '21,708', '21,567', '21,575',
       '21,562', '21,551', '21,578', '21,746', '21,701', '21,880',
       '22,055', '22,049', '22,220', '22,168', '21,916', '21,897',
       '22,188', '22,581', '22,568', '23,419', '23,480', '24,322',
       '23,265', '22,789', '22,023', '21,877', '22,103', '21,033',
       '19,643', '19,782', '19,186', '19,271', '19,398', '18,915',
       '18,964', '18,554', '18,638', '18,575', '18,582', '18,651',
       '18,468', '18,612', '18,600', '18,885', '19,040', '19,032',
       '19,024', '19,008', '19,420', '19,310', '19,004', '18,967',
       '19,050', '18,899', '18,928', '18,962', '19,029', '19,093',
       '19,154', '19,069', '19,009', '18,922', '18,996', '19,021',
       '19,055', '19,115', '19,290', '19,119'], dtype=object)

In [ ]:
df_result['평년'] = df_result['평년'].str.replace(',', '').str.replace('-','0').astype(int)

In [62]:
# 데이터 타입 변경
df_result['평균'] = pd.to_numeric(df_result['평균'].str.replace(',', ''))
# df_result['평년'] = df_result['평년'].str.replace(',', '').str.replace('-','').astype(int)

AttributeError: Can only use .str accessor with string values!

In [64]:
df_result['평년']

0     22826
1     22882
2     22949
3     22809
4     22827
      ...
37    19021
38    19055
39    19115
40    19290
41    19119
Name: 평년, Length: 1032, dtype: object

In [67]:
df_result['평년'] = pd.to_numeric(df_result['평년'].str.replace(',', ''), errors='coerce', downcast='int' )

AttributeError: Can only use .str accessor with string values!

In [68]:
df_result['평년'] = pd.to_numeric(df_result['평년'], errors='coerce', downcast='int' )

ValueError: invalid downcasting method provided

In [66]:
df_result.dtypes

date    datetime64[ns]
평균               int64
평년             float64
dtype: object

In [71]:
df_result['평년'].astype(int)

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [28]:
# 컬럼명 2차 변경
df_result.rename(columns={'평균':f'avg_{name}', '평년':f'avgY_{name}'}, inplace=True)

# 확인
print(df_result.columns)
print(df_result.head())
print(df_result.shape)
print(df_result.dtypes)

# CSV 파일로 만들기
df_result.to_csv('./data/result_{name}.csv', encoding="utf-8", index=False)

AttributeError: Can only use .str accessor with string values!