In [1]:
# 라이브러리 불러오기
import pandas as pd
import numpy as np

In [2]:
# 농산물 리스트
agriList = ['moo']

In [1]:
# 데이터 프레임 불러오기 : 농산물
for var in agriList:  # 농산물 데이터프레임
    globals()[f'df_{var}'] = pd.read_csv(f'../data/result_{var}.csv')
    globals()[f'df_{var}'].rename(columns={'date':'날짜'}, inplace=True)
    globals()[f'df_{var}']['날짜'] = pd.to_datetime(df_moo.날짜)

NameError: name 'agriList' is not defined

In [4]:
df_moo

             날짜  avg_moo
0    2010-01-04     1092
1    2010-01-05     1129
2    2010-01-06     1151
3    2010-01-07     1162
4    2010-01-08     1112
...         ...      ...
2423 2019-12-24     3073
2424 2019-12-26     3068
2425 2019-12-27     3022
2426 2019-12-30     2987
2427 2019-12-31     3023

[2428 rows x 2 columns]

In [5]:
# 데이터 프레임 불러오기 : 날씨
df_wheather = pd.read_csv('../data/date_final.csv')  # 날씨 데이터프레임

In [6]:
df_wheather

                       날짜  현재기온  이슬점온도  체감온도  습도    풍속    해면기압
0              2019-12-31   2.5  -18.2  -1.9  20  18.7  1031.1
1              2019-12-30  13.3    7.5  12.5  68  10.4  1019.7
2              2019-12-29   5.9   -4.0   5.9  49   3.2  1026.4
3              2019-12-28   9.1  -10.4   8.3  24   6.5  1028.1
4              2019-12-27   8.1  -12.3   5.4  22  16.2  1022.1
...                   ...   ...    ...   ...  ..   ...     ...
4012  2012-04-12 14:00:00  20.8    4.3    65  34   9.4  1008.1
4013  2012-04-11 14:00:00  21.5   14.1    68  63   5.0  1001.4
4014  2012-04-10 14:00:00  18.8   13.4    65  71  16.9  1017.5
4015  2012-04-09 14:00:00  22.1   11.1    68  50  21.2  1019.5
4016  2012-04-08 14:00:00  21.6    0.7    66  25  19.1  1019.4

[4017 rows x 7 columns]

In [7]:
df_wheather.dtypes

날짜       object
현재기온     object
이슬점온도    object
체감온도     object
습도       object
풍속       object
해면기압     object
dtype: object

In [8]:
df_wheather['날짜'] = pd.to_datetime(df_wheather.날짜)

In [9]:
df_wheather['날짜']

0      2019-12-31 00:00:00
1      2019-12-30 00:00:00
2      2019-12-29 00:00:00
3      2019-12-28 00:00:00
4      2019-12-27 00:00:00
               ...
4012   2012-04-12 14:00:00
4013   2012-04-11 14:00:00
4014   2012-04-10 14:00:00
4015   2012-04-09 14:00:00
4016   2012-04-08 14:00:00
Name: 날짜, Length: 4017, dtype: datetime64[ns]

In [10]:
df_wheather['날짜'] = df_wheather['날짜'].dt.strftime('%Y-%m-%d')

In [11]:
# 데이터 타입 변경
df_wheather['날짜'] = pd.to_datetime(df_wheather.날짜)
df_wheather['현재기온'] = pd.to_numeric(df_wheather['현재기온'], errors='coerce')
df_wheather['이슬점온도'] = pd.to_numeric(df_wheather['이슬점온도'], errors='coerce')
df_wheather['체감온도'] = pd.to_numeric(df_wheather['체감온도'], errors='coerce')
# df_wheather['강수량'] = pd.to_numeric(df_wheather['강수량'], errors='coerce')
df_wheather['습도'] = pd.to_numeric(df_wheather['습도'], errors='coerce')
df_wheather['풍속'] = pd.to_numeric(df_wheather['풍속'], errors='coerce')
df_wheather['해면기압'] = pd.to_numeric(df_wheather['해면기압'], errors='coerce')

In [12]:
# 농산물 데이터 병합
df_agri = pd.DataFrame(data=globals()[f'df_{agriList[0]}'])
for var in agriList:
    df_agri = pd.merge(df_agri, globals()[f'df_{var}'], on='날짜')

In [13]:
# 농산물 및 날씨 데이터 병합
df = pd.merge(df_agri, df_wheather, on='날짜')

In [14]:
df_wheather.dtypes

날짜       datetime64[ns]
현재기온            float64
이슬점온도           float64
체감온도            float64
습도              float64
풍속              float64
해면기압            float64
dtype: object

In [15]:
# 데이터 확인
print(df.head())
print(df.info())

          날짜  avg_moo_x  avg_moo_y  현재기온  이슬점온도  체감온도    습도    풍속    해면기압
0 2010-01-04       1092       1092  -6.0   -7.3  -9.6  90.0   7.6  1007.7
1 2010-01-05       1129       1129 -11.7  -16.2 -22.3  69.0  33.8  1019.2
2 2010-01-06       1151       1151 -10.6  -17.6 -16.0  56.0  10.1  1021.5
3 2010-01-07       1162       1162  -6.1  -13.9  -6.1  54.0   1.8  1022.8
4 2010-01-08       1112       1112  -3.8  -11.7  -8.2  54.0  11.2  1020.1
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2676 entries, 0 to 2675
Data columns (total 9 columns):
날짜           2676 non-null datetime64[ns]
avg_moo_x    2676 non-null int64
avg_moo_y    2676 non-null int64
현재기온         2667 non-null float64
이슬점온도        2666 non-null float64
체감온도         2665 non-null float64
습도           2666 non-null float64
풍속           2667 non-null float64
해면기압         2663 non-null float64
dtypes: datetime64[ns](1), float64(6), int64(2)
memory usage: 209.1 KB
None

In [17]:
# CSV 파일로 출력
df.to_csv('../data/merge_agri_wheather.csv', encoding='utf-8', index=False)