In [1]:
import pandas as pd
import numpy as np

import time
from datetime import datetime
from datetime import timedelta

In [2]:
date_2019 = pd.read_csv('./output/2019_기상.csv')
date_2018 = pd.read_csv('./output/2018_기상.csv')
date_2015_2017 = pd.read_csv('./output/2015_2017_기상.csv')

In [5]:
date_2015_2017

                       날짜 현재일기  현재기온  이슬점온도  체감온도  강수량  습도   풍향    풍속    해면기압
0     2017-12-31 14:00:00    -   7.6  -11.2   4.4  0.0  25  서북서  19.8  1020.6
1     2017-12-30 14:00:00    -  10.3   -0.8  10.3  0.0  46   남동   4.0  1023.9
2     2017-12-29 14:00:00    -  10.5   -1.8   9.0  0.0  42   북서  11.5  1023.7
3     2017-12-28 14:00:00    -   4.6   -8.8   1.9  0.0  37   북서  11.5  1027.6
4     2017-12-27 14:00:00    -   2.0  -19.9  -2.1  0.0  18   북서  15.8  1027.2
...                   ...  ...   ...    ...   ...  ...  ..  ...   ...     ...
1091  2015-01-05 14:00:00    -  10.4   -3.3  10.4  0.0  38  서북서   2.9  1017.9
1092  2015-01-04 14:00:00    -  10.7   -5.3   9.1  0.0  32  서북서  12.6  1016.6
1093  2015-01-03 14:00:00    -   3.5  -24.3  -0.0  0.0  11   북서  14.4  1022.2
1094  2015-01-02 14:00:00    -   2.1  -15.4  -2.3  0.0  26   북서  17.6  1021.4
1095  2015-01-01 14:00:00    -  -1.4  -25.5  -7.2  0.0  14   북서  21.6  1021.0

[1096 rows x 10 columns]

In [7]:
date_final = pd.concat([date_2019, date_2018,date_2015_2017], ignore_index=True)

In [8]:
date_final

                       날짜 현재일기  현재기온  이슬점온도  체감온도  강수량  습도   풍향    풍속    해면기압
0     2019-12-31 14:00:00    -   2.5  -18.2  -1.9    0  20  서북서  18.7  1031.1
1     2019-12-30 14:00:00    -  13.3    7.5  12.5  1.0  68   북서  10.4  1019.7
2     2019-12-29 14:00:00    -   5.9   -4.0   5.9    0  49  서북서   3.2  1026.4
3     2019-12-28 14:00:00    -   9.1  -10.4   8.3    0  24    남   6.5  1028.1
4     2019-12-27 14:00:00    -   8.1  -12.3   5.4    0  22   북서  16.2  1022.1
...                   ...  ...   ...    ...   ...  ...  ..  ...   ...     ...
1821  2015-01-05 14:00:00    -  10.4   -3.3  10.4    0  38  서북서   2.9  1017.9
1822  2015-01-04 14:00:00    -  10.7   -5.3   9.1    0  32  서북서  12.6  1016.6
1823  2015-01-03 14:00:00    -   3.5  -24.3    -0    0  11   북서  14.4  1022.2
1824  2015-01-02 14:00:00    -   2.1  -15.4  -2.3    0  26   북서  17.6  1021.4
1825  2015-01-01 14:00:00    -  -1.4  -25.5  -7.2    0  14   북서  21.6    1021

[1826 rows x 10 columns]

In [24]:
date_final.dtypes

날짜       datetime64[ns]
현재일기             object
현재기온             object
이슬점온도            object
체감온도             object
강수량              object
습도               object
풍향               object
풍속               object
해면기압             object
dtype: object

In [16]:
date_final.날짜.loc[1].split(" ")[0].split('-')

def reduce_date(date):
    date = date.split(' ')[0].split('-')
    fdate = datetime(int(date[0]), int(date[1]), int(date[2]))
    return fdate

date_final["날짜"] = date_final['날짜'].apply(reduce_date)

['2019', '12', '30']

In [19]:
def reduce_date(date):
    date = date.split(' ')[0].split('-')
    fdate = datetime(int(date[0]), int(date[1]), int(date[2]))
    return fdate

In [20]:
date_final["날짜"] = date_final['날짜'].apply(reduce_date)

In [23]:
date_final.날짜.dtype

dtype('<M8[ns]')

In [28]:
date_final.to_csv('./output/date_final.csv', index=False)

In [29]:
test = pd.read_csv('./output/date_final.csv')

In [31]:
test.dtypes

날짜       object
현재일기     object
현재기온     object
이슬점온도    object
체감온도     object
강수량      object
습도       object
풍향       object
풍속       object
해면기압     object
dtype: object